/*
# Nested links

This provides the ability to visually nest links within links, where both the inner and outerlink
are selectable. NOTE: the outer-link must have a sr-only description for accessibility

Markup:
<div class="nestedlink">
	<a href="/" class="nestedlink-outer">
		<span class="sr-only">Click anywhere in the block to go here</span>
	</a>
	<div>
		<a href="http://google.com" class="nestedlink-inner">Click to go somewhere else</a>
	</div>
</div>

Styleguide 4.5
*/

.nestedlink {
	position: relative;

	// Apply .nestedlink-inner to any link you want to embed inside the nestedlink-outer
	&-inner {
		position: relative;
		top: 0;
		left: 0;
		z-index: 11;
		zoom: 1;
	}

	// For links that take up the full content space place the outer-link in the
	// html within a relatively positioned block
	// NOTE: the outer-link must have a sr-only description for accessibility
	&-outer {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		display: block;

		&:hover,
		&:focus,
		&:active {
			border: 0;
		}

		&:focus {
			outline: 1px dotted #aaa;
			&:active {
				outline: none;
			}
		}

		// apply innerlink to all sibling links and all children of sibling links
		~ a,
		~ * a {
			@extend .nestedlink-inner;
		}

		~ div {
			*,
			& {
				cursor: pointer;
				z-index: 0;
				position: relative;
			}
		}
	}
}
