# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# DB credentials
SS_DATABASE_CLASS="MySQLPDODatabase"

SS_DATABASE_USERNAME="root"
SS_DATABASE_PASSWORD=""
SS_DATABASE_SERVER="127.0.0.1"
SS_DATABASE_PREFIX="SS_"

# Will name your db after the folder it is in
SS_DATABASE_CHOOSE_NAME="true"

# OR uncomment the line below and add your database name
# SS_DATABASE_NAME="custom_database_name"

SS_ENVIRONMENT_TYPE="dev"

SS_DEFAULT_ADMIN_USERNAME="admin"
SS_DEFAULT_ADMIN_PASSWORD="password"

SS_RAYGUN_APP_KEY="somekey"
