/*
!/.gitignore
!/.editorconfig
!/.htaccess
!/app
!/app/*
!/composer.json
!/composer.lock
!/README.md
!/LICENSE*
!/Makefile
!/phpunit.xml.dist

# Themes
!/themes
!/themes/*
/themes/*/js/src/

# Tests
/testsession/
TESTS_RUNNING.json

# OSX
.DS_Store

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
