# ignore cache folder
/silverstripe-cache/

# ignore .env file
/.env

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore default modules from composer
.DS_Store
/assets/
/betterbuttons/
/betternavigator/
/cap/
/dna/
/raygun/
/signature/
/standardsediting/
/styleguide/
/testsession/
/resources/
node_modules/
