//	Sitemap formatting
.sitemap {

	&-toggle {
		text-indent: 0;
		left: 0px;
		top: 0px;
		z-index: 5;
		position: absolute;
		display: inline-block;
		width: 40px;
		height: 40px;
	}

	&-list {
		border-bottom: 1px solid $table-border-color;
		list-style-type: none;
		margin-left: 0;
	}

	&-link {
		box-sizing: border-box;
		display: block;
		height: 100%;
		padding-left: 30px;
		z-index: 1;

		&:hover {
			text-decoration: none;
			background-color: $table-border-color;
		}
	}

	&-item {
		background: $default-color;
		border-top: 1px solid $table-border-color;
		z-index: 0;
		position: relative;
		line-height: 40px;
		margin-bottom: 0;

		.collapse {
			display: none;
		}
		.collapsed {
			display: block;
		}
		.collapse a,
		.collapse .page-toggle a.button {
			display: none;
		}

		.menu-list {
			margin: 0;
			padding: 0;
			list-style: none;
			height: auto;
		}
	}
}
