/*
 * Styling for results
 */

.results {
	&-header {
		clear: fix;
		padding: 7px 10px;
		border-top: 1px solid darken($default-color, 5%);
		border-bottom: 1px solid darken($default-color, 5%);
		margin-bottom: 20px;
		background: $default-color;
	}

	&-item {
		&--even {
			clear: fix;
			border-bottom: 1px solid $default-color;
			border-top: 1px solid $default-color;
			clear: both;
			margin-bottom: 10px;
			padding-top: 10px;
		}
	}

	&-list {
		list-style: none;
	}

	&-actions {
		clear: both;
	}

	&abstract {
		&-image {
			box-sizing: border-box;
			float: left;
			padding-left: 10px;
			width: 30%;
		}
	}

}
