/* Customise search field */
.search {
	clear: fix;

	&-query {
		box-sizing: border-box;
		float: left;
		vertical-align: top;
		display: inline-block;
		padding: 0.6em 1em;
		width: 70%;
		color: $font-color;
		-webkit-appearance: textfield;

		@include respond(md) {
			float: none;
			width: 200px;
		}
	}

	&-form {
		float: left;
		padding: 0px 20px 0;
		width: 80%;

		@include respond(lg) {
			float: none;
			padding: 30px 0px 0;
			width: auto;
		}
	}

	&-fieldset {
		text-align: right;
		padding-left: 0;
		padding-right: 0;
		border: 0;
	}
}
